@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="container login-div">
    <form method="post">
        <div class="container">
            @*UserName*@
            <div class="row div-row-space">
                <label class="label-text-expose-margin">Nome de usuário</label>
                <input class="input-name" name="username" />
            </div>
            @*Password*@
            <div class="row div-row-space">
                <label class="label-text">Senha</label>
                <input type="password" class="input-name" name="password" />
            </div>
            <div class="row div-row-space-with-lateral-margin">
                <a asp-page="/CreateUser">Não tenho um usuário cadastrado</a>
            </div>
        </div>
        <div class="div-bottom">
            <input type="submit" class="button-bottom" value="Login" />
        </div>
    </form>
</div>
